<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/dashboard" class="app-brand-link">
      <span class="app-brand-logo demo">
        <div class="justify-content-center">
          <a href="/dashboard" class="app-brand-link gap-2">
            <div class="dash-img1 dash-img1 flex-shrink-0">
              <img src="../assets/img/icons/unicons/mortarboard.png" alt="User" class="rounded">
            </div>
            <span class="fs-4 demo fw-bolder">Education</span>
          </a>
        </div>
      </span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Intro</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div data-i18n="Account Settings">Intro</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/intro" class="menu-link">
            <div data-i18n="Account">Add Intro</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/viewintro" class="menu-link">
            <div data-i18n="Notifications">View All Intro</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons bx bx-slider'></i>
        <div data-i18n="Account Settings">Slider</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/slider" class="menu-link">
            <div data-i18n="Account">Add New Slider</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/viewslider" class="menu-link">
            <div data-i18n="Notifications">View All Slider</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Education</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons bx bx-category-alt'></i>
        <div data-i18n="Account Settings">Category</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/category" class="menu-link">
            <div data-i18n="Account">Add New Category</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/viewcategory" class="menu-link">
            <div data-i18n="Notifications">View All Categories</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons bx bx-user-pin'></i>
        <div data-i18n="Account Settings">Instructor</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/instructor" class="menu-link">
            <div data-i18n="Account">Add Instructor</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/viewinstructor" class="menu-link">
            <div data-i18n="Notifications">View All Instructor</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons bx bxs-user-account'></i>
        <div data-i18n="Account Settings">Course</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/course" class="menu-link">
            <div data-i18n="Account">Add Course</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/viewcourse" class="menu-link">
            <div data-i18n="Notifications">View All Course</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons bx bx-book-open'></i>
        <div data-i18n="Account Settings">Assignment</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/assignment" class="menu-link">
            <div data-i18n="Account">Add Assignment</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/viewassignment" class="menu-link">
            <div data-i18n="Notifications">View All Assignment</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/viewenroll" class="menu-link">
        <i class='bx bx-check-square'></i>
        <div data-i18n="Analytics" class="ps-3">Enrolled Course</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/viewuser" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user-pin"></i>
        <div data-i18n="Analytics">View All User</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/review" class="menu-link">
        <i class="menu-icon tf-icons bx bx-star"></i>
        <div data-i18n="Analytics">Review</div>
      </a>
    </li>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Pages</span>
    </li>
    <li class="menu-item">
      <a href="/payment-method" class="menu-link">
        <i class='menu-icon bx bx-credit-card'></i>
        <div data-i18n="Layouts">Payment Method</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons bx bx-book-open'></i>
        <div data-i18n="Account Settings">Pages</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/about-us" class="menu-link">
            <div data-i18n="Account">About Us</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/private-policy" class="menu-link">
            <div data-i18n="Notifications">Private Policy</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/terms-and-condition" class="menu-link">
            <div data-i18n="Notifications">Terms And Condition</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/mail-config" class="menu-link">
        <i class='menu-icon bx bx-credit-card'></i>
        <div data-i18n="Layouts">Mail Config</div>
      </a>
    </li>
  </ul>
</aside>
<!-- / Menu -->